<header class="page-header">
  <h1>About Jungle</h1>
</header>

<h6 class="alert alert-success text-center"> We, here at Jungle, love to provide the most exotic types of plants for our customers. </h6> 

<h6 class="alert alert-success text-center"> You can ensure that every single plant provided by us one of the best around! </h6> 